In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df['Rating_clean'] = df['Rating'].str.replace('/10', '', regex=False)
df['Rating_clean'] = pd.to_numeric(df['Rating_clean'], errors='coerce')

In [4]:
df = df.dropna()

In [5]:
df["$Worldwide"] = df["$Worldwide"]/1000000000

In [6]:
max_revenue_worldwide = df.groupby("Release Group")["$Worldwide"].max().sort_values(ascending = False)

In [8]:
print("Top 10 highest-grossing($B) movies worldwide")
max_revenue_worldwide.head(10)

Top 10 highest-grossing($B) movies worldwide

Release Group
Avengers: Endgame                             2.799439
Avatar                                        2.743578
Avatar: The Way of Water                      2.320250
Star Wars: Episode VII - The Force Awakens    2.068224
Avengers: Infinity War                        2.048360
Spider-Man: No Way Home                       1.910983
Inside Out 2                                  1.698773
Jurassic World                                1.670401
The Lion King                                 1.656943
The Avengers                                  1.518813
Name: $Worldwide, dtype: float64

In [9]:
a = df["$Foreign"].mean()/1000000
b = df["$Domestic"].mean()/1000000

In [11]:
print("Domestic vs Foreign revenue trends ---")
print(f"The foreign average revenue is {a:.2f}M $")
print(f"The domestic average revenue is {b:.2f}M $")

Domestic vs Foreign revenue trends ---
The foreign average revenue is 76.24M $
The domestic average revenue is 46.18M $

In [12]:
max_revenue_yearly = df.groupby("Year")["$Worldwide"].max().sort_values(ascending = False)

In [17]:
print(f"Yearly revenue trends in B$ --\n{max_revenue_yearly}")

Yearly revenue trends in B$ --
Year
2019    2.799439
2009    2.743578
2022    2.320250
2015    2.068224
2018    2.048360
2021    1.910983
2024    1.698773
2012    1.518813
2023    1.446938
2011    1.341511
2017    1.332540
2013    1.280802
2016    1.153296
2003    1.118887
2014    1.104054
2010    1.066970
2006    1.066180
2008    1.003845
2001    0.974755
2007    0.960996
2004    0.928974
2002    0.923015
2005    0.895921
2000    0.546388
2020    0.473230
Name: $Worldwide, dtype: float64

In [20]:
max_rating_yearly = df.groupby("Year")["Rating_clean"].max().sort_values(ascending = False)

In [24]:
print(f"Yearly Ratiing trends out of 10 --\n{max_rating_yearly}")

Yearly Ratiing trends out of 10 --
Year
2024    9.700
2020    9.000
2022    8.900
2023    8.600
2001    8.538
2008    8.500
2003    8.500
2019    8.500
2021    8.500
2016    8.486
2002    8.425
2004    8.403
2014    8.400
2018    8.399
2010    8.370
2013    8.300
2017    8.289
2011    8.275
2012    8.227
2000    8.217
2006    8.204
2009    8.200
2007    8.075
2005    8.071
2015    8.000
Name: Rating_clean, dtype: float64

In [32]:
df['Genres_list'] = df['Genres'].dropna().apply(lambda x: [g.strip() for g in x.split(',')])
df_exploded = df.explode("Genres_list")
genre_stats = df_exploded.groupby("Genres_list").agg({
    "$Worldwide": "mean",
    "Rating_clean": "mean"
}).sort_values("$Worldwide", ascending=False)

In [35]:
print("Group by Genres → find average revenue and ratings.")
genre_stats

Group by Genres → find average revenue and ratings.

                 $Worldwide  Rating_clean
Genres_list
Science Fiction    0.255810      6.542789
Adventure          0.245460      6.585471
Fantasy            0.194065      6.566785
Animation          0.190119      6.866116
Action             0.184445      6.507973
Family             0.177329      6.567324
War                0.124042      6.868340
Thriller           0.111885      6.478437
Western            0.106369      6.778735
Comedy             0.106033      6.313420
Music              0.098148      6.787270
Crime              0.092784      6.552492
Mystery            0.085814      6.450144
Horror             0.085793      6.168749
Romance            0.084098      6.480652
History            0.083945      6.943242
Drama              0.081767      6.765036
Documentary        0.046028      6.753333
TV Movie           0.020453      7.161833

In [43]:
df['Countries_list'] = df['Production_Countries'].dropna().apply(lambda x: [g.strip() for g in x.split(',')])
df_exploded = df.explode("Countries_list")
countries_stats = df_exploded.groupby("Countries_list").agg({
    "$Worldwide": "max",
}).sort_values("$Worldwide", ascending=False)

In [46]:
print("top production countries contributing to blockbusters")
countries_stats.head(10)

top production countries contributing to blockbusters

                          $Worldwide
Countries_list
United States of America    2.799439
United Kingdom              2.743578
Japan                       1.360848
New Zealand                 1.118887
Canada                      1.078751
Hong Kong                   0.902548
China                       0.902548
Germany                     0.878980
India                       0.609017
Taiwan                      0.609017